/* ================= HEADER ================= */
.mega-header {
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 1000;
}

/* ================= TOP MENU ================= */
.menu-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 16px 0;
  margin: 0;
}

.menu-item {
  position: relative;
  font-weight: 600;
}

.menu-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* ================= OVERLAY ================= */
.mega-overlay {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100vw;
  max-height: calc(100vh - 90px);
  background: transparent;
  overflow-y: auto;
  z-index: 999;
}

/* ================= CENTER PANEL ================= */
.mega-panel {
  max-width: 1200px;
  margin: auto;
  background: #fff;
  padding: 35px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  border-radius: 16px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.15);
}

/* ================= COLUMN ================= */
.mega-column {
  min-width: 220px;
}

/* ================= SUB CATEGORY ================= */
.sub-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sub-head h6 {
  margin: 0;
  font-weight: 700;
  color: #0d6efd;
}

.sub-head h6:hover {
  color: #000;
}

/* ================= PRODUCTS ================= */
.products-wrap {
  margin-top: 8px;
}

.mega-product {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px;
  margin-top: 6px;
  border-radius: 8px;
  cursor: pointer;
}

.mega-product:hover {
  background: #f5f7fa;
}

.mega-product img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 8px;
}

.mega-product p {
  margin: 0;
  font-size: 14px;
  color : #333;
  font-weight: 500;
}

.mega-product span {
  font-size: 13px;
  color: #28a745;
  font-weight: 600;
}

/* ================= ARROW ================= */
.arrow {
  font-size: 22px;
}

/* ================= MOBILE ================= */
@media (max-width: 1024px) {

  .menu-list {
    flex-direction: column;
    padding: 0px 0px;
    gap: 0;
  }

  .menu-item {
    border-bottom: 1px solid #eee;
    padding: 0px 0;
  }

  .menu-title {
    justify-content: space-between;
  }

  .mega-overlay {
    position: relative;
    top: 0;
    box-shadow: none;
    max-height: unset;
  }

  .mega-panel {
    flex-direction: column;
    padding: 5px 0;
    gap: 5px;
    box-shadow: none;
    border-radius: 0;
  }

  .products-wrap {
    padding-left: 12px;
  }
}
